<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand anchor" href="#">Kanishk.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  class="nav-link links"routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link links"routerLink="/all-video">MyVideos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" links routerLinkActive="active" routerLink="/login" *ngIf="!design.loggedIn()" >Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link links" routerLinkActive="active"*ngIf="design.loggedIn()" routerLink="user">Welcome {{user}}</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link links" style="cursor: pointer;" *ngIf="design.loggedIn()"  (click)="design.logout()">Logout</a>
          </li>
      </ul>
      <form  *ngIf="design.loggedIn()" class="form-inline my-2 my-lg-0">
        <input #uname class="form-control mr-sm-2" type="search" placeholder="Search Movies" aria-label="Search">
       <a routerLink="/search-video/{{uname.value}}"> <button  class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></a>
      </form>
    </div>
  </nav>